#head{
    height: 40px;
    background-color: rgb(235, 235, 221);
    color: #19206e;
    padding: 20px 10px 15px;
    margin: 10px;
    margin-bottom: 2px;
    box-shadow: 3px 2px 2px rgb(64, 64, 64);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}

#out{
    float:right;
    color: #19206e;
}